<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>ApplicantForm77Soft</display-name>
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	
	<session-config>
		<session-timeout>15</session-timeout>
	</session-config>

	<filter>
		<filter-name>SessionFilter</filter-name>
		<filter-class>filter.SessionFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>SessionFilter</filter-name>
		<url-pattern>/leave-management/*</url-pattern>
		<url-pattern>/login.jsp</url-pattern>
		<url-pattern>/promptNewPassword.jsp</url-pattern>
		<url-pattern>/LoginServlet</url-pattern>
	</filter-mapping>
</web-app>
